 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 /*HOME PAGE starts*/
 
 body{
   
    background-color: F0EFE9  ;
}




.backimage{
    position: relative;
    width: 600px;
    height: 600px;
    top: 45px;
    left: 320px;
    opacity: 0.9;
border-bottom: 2px solid black;
 
}

.navigationbar ul {


border-radius: 35px;
margin-top: 25px;
margin-left: 15px;
margin-right: 15px;
height: 75px;

background-color: rgb(189, 199, 147);
border: 1px solid;
font-family: sans-serif;
font-size: 18px;
font-weight: bold;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-around;
list-style: none;

}

 
 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
} 
 a:hover{
    
    color:chocolate;
    cursor: pointer;
   
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}
.box1,.box2,.box3{
   
   
    border-radius: 20px;
    width: 550px;
    height: 380px;
    background-color:rgb(181, 180, 181,0.5) ;
    padding: 20px;
    border: 2px solid rgba(78, 64, 52, 0.26);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
   
    justify-content: space-between;
    word-spacing: 0.2em;
}
.container{
   display: flex;
   position: relative;
   top: -470px;
   
    flex-wrap: wrap;
}
.box1,.box2{
    flex: 2;
    border-radius: 20px;
    background-color: rgb(181, 180, 181, 0.8);
    padding: 20px;
    margin: 20px;
    border: 2px solid rgba(78, 64, 52, 0.26);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    justify-content: space-between;
    word-spacing: 0.2em;
}
   
   

.box3{
    flex: 2;
    border-radius: 20px;
    background-color:rgb(181, 180, 181,0.5) ;
    padding: 20px;
    border: 2px solid rgba(78, 64, 52, 0.26);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    justify-content: space-between;
    word-spacing: 0.2em;
    position: relative;
    top: -300px;
    width: 475px;
    bottom: 40px;
    left: 50%;
    transform:translateX(-50%) ;
}

.imgcontainer{
    display: flex;
    position: relative;
}

.left,.right{
    position: relative;
    top: -850px;
    width: 345px;
    height: 430px;
    border-radius: 20px;
    border: 2px solid rgb(136, 135, 135) ;
    margin: 150px;
    
}
.left{
   right: 100px;
}
.right{
    left: 90px;
}
/* HOME PAGE ends */


/* pictures and logo for detailed pages and contact page  starts*/

.containervels,.containerspaarne,.containermarsman,.containerbergman{
display: flex;
position: relative;

width: 250px;
height: 480px;
border-radius:2rem ;
top: -155px;
right:  -250px;

}
.velsleft,.velsright,.spaarneleft,.spaarneright,.marsmanleft,.marsmanright,.bergmanleft,.bergmanright{

width: 300px;
height: 450px;
margin: 20px;


}


.logo{
display: flex;
position: relative;

top: 35px;
right: -1050px;
border-bottom: 2px solid black;

}



/* pictures and logo for detailed pages and contact page ends*/



/* texts of detailed pages stars */
.velserbroekexp,
.marsmanpleinexp,
.bergmanclinicsexp,
.spaarnegasthuisexp{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 650px;
    height: 400px;
    background-color: rgba(207, 203, 197, 0.7);
    
    top: -200px;
    left: 80px;
    border-radius: 2rem;

  
    
  
    word-spacing: 0.2em;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



    .spacer {
        margin-top: 1em;}


} 
    















.spacer {
    margin-top: 1em;}



/* texts of detailed pages ends */



/*contactform*/
.contactform{
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px ;
    border: 2px solid;
    border-color: solid  black ;
    background-color: rgb(196, 215, 122);
    height: 50vh;
    font-size: 25px;
 


}
.contactform h1{
    text-align: center;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 30px;
width: 150px;
   
    
}
.namesctn,.lastnamesctn,.emailsctn,.commentsctn{
   margin: 10px;
    display: flex;
    
   
}
.contactform,.button{
    text-align: center;
}
.commentsctn{
    margin: 10px;
    display: flex;
    width: 1285px;
    height: 100px;
  
}
