 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 /*HOME PAGE starts*/
 
 body{
   
    background-color: #F0EFE9  ;
}
.backimage{
  
    width: 600px;
    height: 600px;
    size: 700px;
    position: absolute;
    top: 125px;
    right: 675px;

    
    
}

.navigationbar ul {


border-radius: 35px;
margin-top: 25px;
margin-left: 15px;
margin-right: 15px;
height: 75px;

background-color: rgb(189, 199, 147);
border: 1px solid;
font-family: sans-serif;
font-size: 18px;
font-weight: bold;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-around;
list-style: none;

}

 
 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
} 
 a:hover{
    
    color:chocolate;
    cursor: pointer;
   
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}
.box1,.box2,.box3{
   
    display: flexbox  ;
    border-radius: 20px;
    width: 550px;
    height: 380px;
    background-color:rgb(181, 180, 181,0.9) ;
    padding: 20px;
    border: 2px solid rgba(78, 64, 52, 0.26);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    justify-content: space-between;
    word-spacing: 0.2em;
}
.box1{ 
    
    top: 130px;
    left: 85px;
   
}
.box2{
  
    top: 130px;
    right:85px;
   
   
}
.box3{
    width: 475px;
    bottom: 40px;
    left: 50%;
    transform:translateX(-50%) ;
}

.left{
    width: 345px;
    height: 430px;
    position: absolute;
    border-radius: 20px;
    border: 2px solid rgb(136, 135, 135) ;
    left:145px;
    bottom: 12px;
}
.right{
    width: 345px;
    height: 430px;
    position: absolute;
    border-radius: 20px;
    border: 2px solid rgb(136, 135, 135) ;
     right: 145px;
    bottom: 12px;
}
/* HOME PAGE ends */


/* pictures and logo for detailed pages and contact page  starts*/

.velsleft,

.marsmanleft,

.bergmanleft,

.spaarneleft
{

position: absolute;
bottom: 40px;
left: 525px;

width: 350px;
height: 380px;
border-radius: 2rem;


}

.velsright,
.marsmanright,
.bergmanright,
.spaarneright{

    position: absolute;
    bottom: 40px;
    right: 525px;
    
    width: 350px;
    height: 380px;
    border-radius:2rem ;

}
.logo{
position: absolute;
top: 125px;
right: 45px;
border-bottom: 2px solid black;

}



/* pictures and logo for detailed pages and contact page ends*/



/* texts of detailed pages stars */
.velserbroekexp,
.marsmanpleinexp,
.bergmanclinicsexp,
.spaarnegasthuisexp{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 300px;
    background-color: rgba(207, 203, 197, 0.7);
    position: absolute;
    top: 180px;
    left: 80px;
    border-radius: 2rem;

  
    
  
    word-spacing: 0.2em;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    
    


}


















/* texts of detailed pages ends */