body,
h2,
p,
a,
* {
    margin: 0;
    padding: 0;


}

ul {
    list-style: none;
}

body {

    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #F0EFE9;
    padding: 0 10px;

}

/*HOME PAGE starts*/



header .navigationbar {
    background-color: rgb(189, 199, 147);
    padding: 2em;
    border-radius: 2em;
    font-weight: 600;
    border: 1px solid;


}


header .navigationbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


a:hover {

    color: chocolate;
    cursor: pointer;

}

header {
    margin: 30px 10px;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    padding: 0;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}

.container-1 {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 400;
    justify-content: space-between;
    word-spacing: 0.2em;


}


.container-2 {
    display: flex;
    flex-direction: row;
}

article {
    border: 2px solid black;
    padding: 1em;
    width: 500px;
    margin: 2rem;

}

img {
    width: 300px;
    height: auto;
    border-radius: 1em;
}

.box1,
.box2,
.box3 {
    border-radius: 20px;
    border-style: double;
    text-indent: 20px;
    line-height: 1.5;
    word-spacing: 0.2em;
}

.box2 ul li {
    list-style-type: disc;

}




/* HOME PAGE ends */

/* texts of detailed pages stars */
.spacer {
    margin-top: 1em;
}


/* texts of detailed pages and logo starts*/

.cont1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.logo {

    border: none;
    width: 150px;
    height: auto;


}

.spacer {
    margin-top: 1em;
}

.marsmanpleinexp,
.bergmanclinicsexp,
.velserbroekexp,
.spaarnegasthuisexp {
    border-radius: 20px;
    font-size: 25px;
    font-weight: 400;
    justify-content: space-between;
    word-spacing: 0.2em;
    border-style: double;
    text-indent: 20px;
    line-height: 1.5;

}

/* texts of detailed pages and logo ends */


/* pictures of detailed page  starts*/

.cont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* pictures and logo for detailed pages and contact page ends*/







/*contactform stars*/
.contactform {
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;
    border: 2px solid;
    border-color: black;
    background-color: rgb(196, 215, 122);
    height: 50vh;
    font-size: 25px;
    letter-spacing: 0.5px;




}

.contactform h1 {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 30px;
    width: 150px;


}

.namesctn,
.lastnamesctn,
.emailsctn,
.commentsctn {
    margin: 10px;
    display: flex;


}

.contactform,
.button {
    text-align: center;
}

.commentsctn {
    margin: 10px;
    display: flex;
    width: 1285px;
    height: 100px;

}

.cntctpg {
    display: flex;
    flex-direction: row;
}

.container-3 {
    display: flex;
    flex-direction: row;
}

/*contact form ends */




/*footer adjustments starts */

footer {

    text-align: center;
    background-color: rgb(203, 191, 164);
}

.cookiemessages {
    position: relative;
    bottom: 0;
    width: 200px;
    height: 100px;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;

    background-color: rgb(255, 255, 255);
    z-index: 9999;
    border: 3px solid black;
    border-style: ridge;

}

.acceptcookies {

    color: black;
    background-color: rgb(254, 254, 254);
    cursor: cell;


}

.log {
    position: relative;
    text-align: right;
}

/*footer adjustments ends */

/*smartphones*/
@media screen and (max-width: 768px) {}

/*pc*/

@media screen and (max-width: 769px) {}

input,
.text:checked {

    color: rgb(205, 93, 23);
}